<template>
  <div>
    <h1>Recherche: {{ barcode }}</h1>
    <fieldset>
      <label>Code barre</label>
      <input type="text" placeholder="00000000000" v-model="barcode" />
      <button @click="search">Rechercher</button>
    </fieldset>
    <code>{{ result }}</code>
    <hr/>
    <h1>Mon métabolisme</h1>
    <fieldset v-if="kcal === 0">
      <label>Genre</label>
      <select v-model="gender">
        <option :value=GENDER.MALE>Homme</option>
        <option :value=GENDER.FEMALE>Femme</option>
      </select>
      <label>Age</label>
      <input type="number" min="18" max="99" v-model="age" placeholder="Age en années"/>
      <label>Poids</label>
      <input type="text" v-model="weight" placeholder="Poids en kg"/>
      <label>Taille</label>
      <select v-model="gender">
        <option value="male">Pas actif</option>
        <option value="female">Peu actif</option>
        <option value="female">Actif</option>
        <option value="female">Très actif</option>
      </select>
      <input type="text" v-model="height" placeholder="Taille en mètres"/>
      <button @click="compute">Valider</button>
    </fieldset>
    <p v-else>Votre corps a besoin de dépenser {{ kcal }}kCal par jour</p>
  </div>
</template>

<script setup>
import Personne from "./utils/Personne"
import Product from "./utils/Product"
import { GENDER, ACTIVITY_LEVEL } from "./utils/Constants"

const barcode = ref("")
const result = ref("")
const gender = ref('male')
const age = ref(21)
const weight = ref("68")
const height = ref("1.78")
const kcal = ref(0)

const retrieveProductFromBarcode = (barcode) => {
  return new Promise((resolve, reject) => {
    useFetch(`https://world.openfoodfacts.org/api/v2/product/${barcode}.json`).then((res) => {
      result.value = Product.parseProduct(res.data.value)
      resolve()
    }).catch((err) => {
      reject(err)
    })
  })
}

const compute = () => {
  const personne = new Personne(gender.value, age.value, parseFloat(weight.value), parseFloat(height.value))
  kcal.value = parseInt(personne.metabolism)
}

const search = () => { retrieveProductFromBarcode(barcode.value) }
</script>